/*--------------------------------------------------------------------------------------
Theme Name: COMING SOON ULTIMATE
Theme URI: http://devitfamily.com
Author URI: http://devitfamily.com
Description: 100% Responsive, Highly Customizable, SEO Friendly Coming Soon template using Twitter Bootstrap Latest, Search Engine Friendly.
Author: BDEXPERT
Version: 1.0
----------------------------------------------------------------------------------------
    1. BASE CSS
    2. MAIN AREA
        2.1 MAINMENU AREA
        2.2 WELCOME TEXT AREA
    3. ABOUT AREA
    4. SERVICE AREA
    5. GALLERY AREA
    6. FOOTER AREA
    7. CONTACT AREA
----------------------------------------------------------------------------------------*/


/*--------------------
    1. BASE CSS
----------------------*/

@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700|Josefin+Sans:400,700');
.alignleft {
    float: left;
    margin-right: 15px;
}

.alignright {
    float: right;
    margin-left: 15px;
}

.aligncenter {
    display: block;
    margin: 0 auto 15px;
}

a {
    color: #be9968;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

a:focus,
a:hover {
    color: #efc998;
    outline: 0 solid;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

button:focus {
    outline: 0;
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
    font-family: 'PT Sans Narrow', sans-serif;
    letter-spacing: 2px;
}

html,
body {
    height: 100%
}

body {
    /*font-family: 'Roboto', sans-serif;
font-family: 'PT Sans Narrow', sans-serif;*/
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    font-weight: 400;
    color: #555555;
}

a:hover,
a:focus {
    text-decoration: none;
    outline: 0;
}

.fix {
    overflow: hidden;
}

.relative {
    position: relative;
    overflow: hidden;
}

.absulute {
    position: absolute;
}

.v-center {
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.social-bookmark li {
    display: inline;
}

.social-bookmark li a {
    display: inline-block;
    width: 35px;
    height: 35px;
    text-align: center;
    font-size: 18px;
    padding-top: 5px;
}

.inline li {
    display: inline;
}

.inline-block li {
    display: inline-block;
    padding: 5px 15px;
}

/* Remove Chrome Input Field's Unwanted Yellow Background Color */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

.area-title {
    display: inline-block;
    margin-bottom: 20px;
    position: relative;
    width: 100%;
}

.area-title::after {
    background: #000 none repeat scroll 0 0;
    content: "";
    height: 5px;
    left: 0;
    position: absolute;
    top: 24px;
    width: 100%;
}

.area-title h2 {
    color: #000000;
    font-size: 50px;
    letter-spacing: 5px;
    line-height: 1;
    margin-bottom: 40px;
    padding: 0 10px;
    position: relative;
    text-transform: uppercase;
    z-index: 9;
    background: #fff;
    display: inline-block;
}

.area-title.title-inverse {
    float: right;
    text-align: right;
}

.title-box {
    box-shadow: 0 0 0 10px #000000;
    height: 80%;
    left: 0;
    position: absolute;
    top: -10px;
    width: 16%;
    z-index: 1;
}

.area-title.title-inverse .title-box {
    left: auto;
    right: 0;
}

.section-padding {
    padding: 100px 0;
}

.padding-top {
    padding-top: 100px;
}

.padding-bottom {
    padding-bottom: 100px;
}

.padding-100-70 {
    padding-top: 100px;
    padding-bottom: 70px;
}

.padding-100-50 {
    padding-top: 100px;
    padding-bottom: 50px;
}

.gray-bg {
    background: #EFEFEF;
}

.dark-bg {
    background: #000000;
    color: #ffffff;
}

.dark-bg .area-title h2 {
    color: #ffffff;
}

a.readmore {
    background: #333 none repeat scroll 0 0;
    color: #ffffff;
    display: inline-block;
    letter-spacing: 2px;
    margin-top: 20px;
    min-width: 160px;
    padding: 10px 30px;
    text-align: center;
}

a.readmore:hover {
    background: #000000 none repeat scroll 0 0;
    color: #ffffff;
}


/*--------------------------
    2. MAIN AREA
---------------------------*/

.main-area {
    height: 100%;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.main-area-bg {
    background: rgba(0, 0, 0, 0) url("img/background/default_3.jpg") no-repeat scroll center center / cover;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

/* .main-area-bg::before {
    border: 10px solid #fff;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
} */

.main-area-bg::after {
    background: #000;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.5;
    position: absolute;
    top: 0;
    width: 100%;
}

.transparent-layer .main-area-bg::after {
    background: #000 url('img/pattarn.png');
}


/*-----------------------------------
    2.2 WELCOME TEXT AREA
-------------------------------------*/

.welcome-text-area {
    color: #ffffff;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    position: relative;
    z-index: 2;
}

.welcome-text {
    padding: 15px;
}

.logo {
    margin-bottom: 30px;
    width: 85%;
    max-width: 220px;
    padding: 20px 23px;
    background: #1b1b1b;
}


/*==============================
    OTHERS VIESION
================================*/

.zoom-slider-bg .main-area-bg {
    background: transparent;
}

.social-link {
    margin: 0 5px;
}

.contact {
    margin: 30px 0 15px 0;
}

.intro {
    max-width: 520px;
    margin: auto;
}

@media screen and (min-width: 600px) {

    .welcome-text {
        background: rgba(0, 0, 0, 0.5);
        padding: 60px;
    }

    .logo {
        background: none;
        padding: 0;
        max-width: 260px;
    }

    body {
        font-size: 18px;
    }

    .main-area-bg::after {
        display: none;
    }

}